@use 'variaveis';
@use 'trailer';
@use 'footer';
@use 'gallery';
@use 'header';
@use 'synopsis';


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: variaveis.$corTextoPrincipal;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type:none;
}

